.enlaceday:hover {
  scale: 110%;
}
.enlace {
  box-shadow: 0 0 10px var(--primary);
  width: 200px;
  font-size: 20px;
  font-family: var(--parrafo);
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
}
.enlaceday {
  color: var(--primary);
  background-color: var(--buttonday);
}

.enlacenight {
  background-color: var(--buttonnight);
  color: var(--secondary);
}
