.main-blog {
  min-height: calc(100vh - 70px -50px);
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-form-post {
  height: 500px;
  max-width: 350px;
  color: rgb(0, 0, 0);
  background-color: rgb(32, 32, 32);
  box-shadow: 0 0 20px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 300;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: popup 0.3s ease;
}
.formulario-post {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
  height: 80%;
}
.text-publicacion {
  resize: none;
  width: 90%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}
.input-inputfilepublicacion {
  display: none;
}
.label-inputfilepublicacion {
  height: 30px;
  width: 90%;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Poppins";
}
.enviar-comentario {
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  width: 90%;
}
.eliminar-publicacion {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 100px;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.eliminar-publicacion:hover {
  scale: 105%;
  background-color: red;
}
.seccion-list-publicaciones {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.boton-comentar {
  height: 40px;
  width: 200px;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 10px;
}
.publicacion-card {
  position: relative;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
}
.datos-usuario-publicacion {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.avatar-publicacion {
  height: 60px;
  width: 60px;
  object-fit: cover;
  padding: 2px;
  border: 2px solid;
  border-radius: 50%;
}
.img-publicacion {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-color: white;
}
.texto-publicacion {
  min-height: 50px;
  padding: 5px;
}

@media (max-width: 600px) {
  .usuario-publicacion {
    display: none;
  }
}
@media (max-width: 600px) {
  .seccion-list-publicaciones {
    border: 1px solid green;
    width: 95%;
  }
}
