.main-accesibles {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
.cargandocampings {
  text-align: center;
}
.container-cardcamping {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
