header {
  font-family: var(--title);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 12px black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  transition: 0.2s ease-in-out;
}

.headerDay {
  color: var(--primary);
  background-color: var(--secondary);
}

.headerNight {
  color: var(--secondary);
  background-color: var(--primary);
}

header a {
  color: inherit;
}

.header-ul {
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
header li {
  background-color: inherit;
  color: inherit;
}
.log-sun {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--secondary);
}
.profile {
  height: 50px;
  width: 50px;
  padding: 3px;
  object-fit: cover;
  border-radius: 50%;
}

.profileDay {
  border: 2px solid var(--primary);
}

.profileNight {
  border: 2px solid var(--secondary);
}

.header-logotipo {
  height: 60px;
  width: auto;
}

.header-logotipoNight {
  filter: invert(1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.burguer {
  display: none;
}
.sol {
  scale: 200%;
  width: auto;
}

@media screen and (max-width: 700px) {
  header {
    top: 0;
  }
  .header-nav {
    background-color: inherit;
    color: inherit;
    position: absolute;
    z-index: -1;
    top: 70px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    height: 0vh;
  }
  .header-nav.Active {
    opacity: 1;
    top: 70px;
    height: 100vh;
  }
  .header-ul {
    background-color: inherit;
    color: inherit;
    flex-direction: column;
    gap: 0;
  }
  .burguer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  header li {
    background-color: inherit;
    color: inherit;
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  header li:hover {
    filter: invert(1);
  }
}

.solDay {
  filter: invert(1);
}

.solNight {
  filter: invert(0);
}
