.main-entornos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px 40px 10px;
}
.entorno-carrousel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  gap: 30px;
}
