:root {
  --primary: #5d2c04;
  --secondary: #ffcb87;
  --shadow: #040404ed;
  --buttonday: rgb(255, 194, 124);
  --buttonnight: rgb(128, 101, 178);
  --title: "Poppins", sans-serif;
  --parrafo: "Poppins", sans-serif;
}
main {
  min-height: calc(100vh - 70px - 50px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.night {
  color: var(--secondary);
  background-color: var(--primary);
  transition: all 0.2s ease-in-out;
}
.day {
  background-color: var(--secondary);
  color: var(--primary);
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  font-family: var(--parrafo);
}
.header-ul .active {
  text-decoration: underline;
}

@keyframes slidein {
  from {
    opacity: 0;
    scale: 98%;
    transform: translateY(-25px);
  }

  to {
    opacity: 100%;
    scale: 100%;
    transform: translateY(0);
  }
}
