.main-notfound {
  padding: 40px 40px;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dt9uzksq0/image/upload/v1702570155/notfound_kumsxp.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  text-align: center;
}
.main-notfound img {
  height: 100px;
  width: auto;
}
.main-notfound h3 {
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 0 30px black;
}
.main-notfound h2 {
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 0 0 30px black;
}
@media (max-width: 800px) {
  .main-notfound h3 {
    font-size: 15px;
  }
  .main-notfound h2 {
    font-size: 35px;
  }
}
